/*******BUTTONS*******/
/*******BUTTONS*******/
/**Main Buttons**/
a.btn-main {
  color: #fedcc8;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 3vh;
  letter-spacing: 0.5vw;
  margin: 0 auto;
  padding: .25vh 1vw;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-style: solid none;
  border-width: medium;
  border-color: #fedcc8;
}

a.btn-main:hover {
  color: #9db8cc;
  background-color: #fedcc8;
  text-decoration: none;
}

/**Site/w-in PG Nav Block - Buttons**/
a.button {
  padding: 3px;
  border-style: solid none;
  border-width: 2px 0px;
}

a.button:hover {
  text-decoration: none;
}

/**************/
/**************/