/*******BUTTONS*******/
/*******BUTTONS*******/
/**Main Buttons**/
a.btn-main {
  color: $dust-pink;
  font-family: $main-content;
  font-weight: 600;
  font-size: 3vh;
  letter-spacing: 0.5vw;
  margin: $hrz-center;
  padding: .5vh .25vw .5vh .75vw;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-style: solid none;
  border-width: 2px;
  border-color: $dust-pink;
}

a.btn-main:hover {
  color: $lt-dust-blue;
  background-color: $dust-pink;
  text-decoration: none;
}

/**Site/w-in PG Nav Block - Buttons**/
a.button {
  color: $dust-pink;
  border-color: $dust-pink;
  padding: .5vh .25vw .5vh .5vw;
  border-style: $btn-box;
  border-width: 2px 0px;
  margin: 1em 0 2em;
}

a.button:hover {
  color: $dark-grey;
  background-color: $dust-pink;
  text-decoration: none;
}

/**************/
/**************/