/**ASSETS/_.sass file imports**/
@import "assets/fonts";

/*overall pg*/
html, body {
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}

/**LAYOUT/_.sass file imports**/
@import "layout/header";
@import "layout/jumbotron";
@import "layout/pgnavblock";
@import "layout/footer";

/**COMPONENTS/_.sass file imports**/
@import "components/buttons";

/**PAGES/_.sass file imports**/
@import "pages/parallaxhome";
@import "pages/about";
@import "pages/portfolio";
@import "pages/other";
@import "pages/contact";
@import "pages/landing";

/**HELPERS/_.sass file imports**/
@import "helpers/jsbehaviors";
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "helpers/mediabreakpts";

/****/
/****/
/****/
/****/

@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";


