/*******MEDIA BEAKS/RESPONSIVE DESIGN*******/
/*******MEDIA BEAKS/RESPONSIVE DESIGN*******/
@import "helpers/variables";
@import "helpers/placeholders";

//Screen width 1100px or more
@media only screen and (min-width: 1100px) {

  html {
    width: $vp-width-LwxSh;
    body {
      width: $vp-width-LwxSh;
      position: center;
      overflow-x: hidden;
    }
  }
  
  main {
    width: $vp-width-LwxSh;
    div{
      &.jumbotron {
        display: table;
        padding: 0;
        padding: 10vh 0;

        #lgScrnBar {
          float: left;
          clear: left;
          width: $vp-width-LwxSh;
          border-width: 2px 0px;
        }
      }
    }
  }
}


/*//Screen width 991px or less
@media only screen and (max-width: 890px){

  html {
    width: $vp-width-LwxSh;
    body {
      width: $vp-width-LwxSh;
      position: center;
      overflow-x: hidden;


      main {

        //home jumbotron
        div.jumbo {
          perspective: 0.5px;

          .ani1 {
            width: 90vmin;
          }
        }

        #ani1, #headsh {
          background-size: cover;
          width: $vp-width-LwxSh;
          height: $vp-height-LwxSh;
        }

        //rest jumbotron
        .jumbotron {
          display: block;
          grid-template: none;

          //(SITE Pgs)Nav Block
          section.inPageNav {
            display: grid;
            position: relative;
            height: fit-content;
            width: auto;
            margin: 0 auto;
            padding: 5% 0;
            background-color: #566071b3;
            border: 2px solid #fedecb;

            .sectionLinks {
              .col {
                padding: 5% 20%;
              }
            }
          }
        }
      }

      //(SITE Pgs)Nav Block
      section{
        &#navdrop {
          width: $vp-width-LwxSh;
          background-image: url("../../../../Images/sheeth.png");
          background-size: cover;
          padding: 8%;
        }

        &.pgLinks {
          background-color: #e3e4e6;
          display: grid;
          grid-template: none;
          justify-content: center;
          justify-items: center;
          align-items: center;
          align-content: center;
          background-size: 100% auto;
          padding: 3%;

          .linkContent {
            position: relative;
            display: grid;
            grid-area: none;
            grid-template: repeat(2, 47vmax)/repeat(2, 50vmin);
            grid-column-gap: 10vmin;
            grid-row-gap: 8vmax;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
            margin: auto;

            .blk2 {
              grid-area: 1 / 2 / 2 / 3;
            }

            .blk3 {
              grid-area: 2 / 1 / 3 / 2;
            }

            .blk4 {
              grid-area: 2 / 2 / 3 / 3;
            }

            .col {
              display: block;
              width: 100%;
              height: auto;
              margin: auto;
              padding: auto;
              border: solid 2px;
              background-color: #77777714;

              img {
                height: 10vh;
              }

              h2 {
                font-size: 2.5em;
                margin-bottom: .5em;
              }

              p {
                font-size: 1.25em;
                margin-bottom: 2em;
              }

              .button {
                font-size: 2.5em;
                margin: 0px;
                border-width: 3px 0px;
                width: max-content;
                justify-self: center;
              }
            }
          }
        }
      }
    }
  }
}*/
@media only screen and (min-width: 426px) {
  body {
    max-width: $vp-width-LwxSh;
  }
}
//Screen width 675px or less
@media only screen and (max-width: 425px) {
  
  html {
    width: $vp-width-SwxLh;
    min-height: $vp-height-SwxLh;

    body {
      width: $vp-width-SwxLh;
      min-height: $vp-height-SwxLh;
      position: center;
      overflow-x: hidden;
    }
  }

  //header
  header {
    &.nav {
      width: $vp-width-SwxLh;
      ul {
        grid-template: 1fr/repeat(5, 1fr);}
      .n1 {
        grid-column-start: 1;}
    }
  }

  //home
  #ani1, #headsh {
    width: $vp-width-SwxLh;
    perspective: unset;
    display: inline-flex;
    transform: none;
    overflow: unset;
    height: unset;
  }

  #ani1 {
    background: url("../../../../Images/ANI1media.png") no-repeat;
    background-size: 100%;
    width: $vp-width-SwxLh;
    // height: 0;
    // padding-top: 159.92%; /* (img-height / img-width * container-width) (854 / 534 * 100) */
    overflow: hidden;

    div.jumbo {
    width: $vp-width-SwxLh;
    margin: 60% auto;}
  }

  .ani1 {
    width: auto;
    margin: 0 auto;
    text-align:center;
    h1 {
      font-size: 5vh;
      margin: 1vh auto 3vh;}
    a.btn-main .indexbutt {
      font-size: 2vh;
      margin: 0 auto;
      border-width: .1vh;}
  }

  #btmViewBox {
    width: $vp-width-SwxLh;
    height: 0;
    padding-top: 60%; /* (img-height / img-width * container-width) (1309 / 12092 * 100) */
    background: url(../../../../Images/headsh.png) no-repeat center center;
    background-size: 100%;
    overflow: hidden;
  }

  #headsh {
    width: unset;
    background: unset;
  }

  //jumbotron standard
  main {
    width: $vp-width-SwxLh;
    height: $vp-height-SwxLh;

    div.jumbotron {
      width: $vp-width-SwxLh;
      min-height: $vp-height-SwxLh;
      text-align: center;

      .container {
        height: auto;

        .title {
          margin: 15vh 0vw 0vh; //margin: 25vh auto 35vh;

          .title-text {
            h1 {
              margin: 10vh auto;}
          }
          
          .title-button {
            margin: 6vh auto 8vh;
          }
        }
      }
    }
  }

  main div.jumbotron.other .container .title {
    margin: 18vh 0vw 8vh;
    .title-text {
      margin: 0 auto;
      .imgscrollOther {
        background-color: rgba(210, 224, 232, 0.6);
        margin: -22vh 1vw;
        font-size: 1.75vh;
        h3 {font-size: 2.75em;}
        h4 {font-size: 1.25em;}
      }
    }
  }
  a#buttNormal.btn-main.otherbutt {
    display: none;}


  main div.jumbotron.contact .container .title {
    margin: 14vh 0vw 0vh;}
  div.title-button.contact, div.title-button.other {
    display: none;}


  div {
    &.jumbotron.portfolio, &.jumbotron.other, &.jumbotron.contact {
      display: table;
      padding: 10vh 0;

      #lgScrnBar{
        float: left;
        clear: left;
        width: $vp-width-SwxLh;
        border-width: 2px 0px;
        margin: 0 auto;
        height: min-intrinsic;

        .sectionLinks {
          margin: 1vh 0vw;
          .col {}
        }
      }
    }
  }

  //Site nav-block in-line grid map
  section#navdrop {
    background-image: url("../../../../Images/sheeth.png");
    width: $vp-width-SwxLh;
    min-height: $vp-height-SwxLh;
    padding: 7vh 6vh 0;
    margin: 0 auto;
  }
  section.pgLinks {
    margin: $hrz-center;  
    display: block;
    grid-area: none;
    grid-template: none;
    background-color: $light-grey;
    text-align: center;
    position: relative;
    font-family: $main-content;
    color: $med-grey;

    .linkContent {
      display: grid;
      grid-template: repeat(4, 50vmax)/1fr;
      grid-row-gap: 5vmax;
      grid-area: none;
      margin: 0;
      padding: unset;

      //nav-block in-line grid map
      .blk1 {
        grid-area: 1 / 1 / 2 / 2;}
      .blk2 {
        grid-area: 2 / 1 / 3 / 2;}
      .blk3 {
        grid-area: 3 / 1 / 4 / 2;}
      .blk4 {
        grid-area: 4 / 1 / 5 / 2;}

      .col {
        display: block;
        border: solid 2px;
        height: auto;
        width: auto;
        padding: 4vh 0;
        box-shadow: 0vh 3vw 5vh #71645e;
        background-color: #f5dace52;
        
        a { 
          font-family: $main-content;
          text-transform: uppercase;
          font-weight: 600;
          color: $med-grey;
          font-size: 2vh;
          letter-spacing: 1.3px;
          text-decoration: none;
        }

        img {
          height: 10vh;
          margin-top: .75vh;
        }

        h2 {
          font-size: 3em;
          margin-bottom: .75vh;
          margin-top: unset;
        }

        p {
          font-size: 2.75vh;
          margin: 2vh auto 4vh;
        }

        .button {
          font-family: $main-content;
          text-transform: uppercase;
          font-weight: 800;
          color: $med-grey;
          border-color: $med-grey;
          font-size: 2vh;
          letter-spacing: 1.3;
          border-style: $btn-box;
          border-width: .5vh;
          text-decoration: none;
        }

        .button:hover {
          color: $lt-dust-pink;
          background-color: $med-grey;
        }
      }
    }
  }

  div.container .linkContent::before {
    content: unset;}
  div.container .linkContent::after {
    content: unset;}

  footer {
    width: $vp-width-SwxLh;
  }
}
/**************/
/**************/