/*******MEDIA BEAKS/RESPONSIVE DESIGN*******/
/*******MEDIA BEAKS/RESPONSIVE DESIGN*******/
/*Screen width 992px or less*/
/*Screen width 992px or less*/
@media screen and (max-width: 991px) {
/**(SITE Pgs)Nav Block**/
  #navdrop {
    background-image: url("../../../../Images/sheeth.png");
    background-size: cover;
    padding-bottom: 30vh;
  }

  section.pgLinks {
    background-color: #e3e4e6;
    display: grid;
    grid-template: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 8%; 
    background-size: 100% auto;

    .linkContent {
      position: relative;
      display: grid;
      grid-area: none;
      grid-template: repeat(2, 35vmax)/repeat(2, 35vmax);
      grid-column-gap: 10vw;
      grid-row-gap: 20vh;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;
      margin: 10vh 2vw -10vh;

      .col {
        display: block;
        width: 100%;
        border: solid 2px;
        height: auto;
        padding: 6vh;

        img {
          height: 10vh;
        }

        h2 {
          font-size: 2.5em;
          margin-bottom: .5em;
        }

        p {
          font-size: 1.25em;
          margin-bottom: 2em;
        }

        .button {
          font-size: 2.5em;
          margin: 0px;
          border-width: 3px 0px;
          width: max-content;
          justify-self: center;
        }
      }

      /*Mid screen: side by side grid map*/
      .blk1 {
        grid-area: 1 / 1 / 2 / 2;
      }

      .blk2 {
        grid-area: 1 / 2 / 2 / 3;
      }

      .blk3 {
        grid-area: 2 / 1 / 2 / 2;
      }

      .blk4 {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }
}

/*Screen width 422px or less*/
@media screen and (max-width: 767px) {
  .ani1 h1 {
    font-size: 3em;
    margin: .5em 0em 1.5em;
    padding: 0px 10px;
  }
  
  a.btn-main {
    font-size: 14px;
    margin: 0px;
    border-width: 3px;
  }

  /*nav-block in-line grid map*/
  #navdrop {
    padding-bottom: 5vh;
  }

  section.pgLinks {
    display: block;
    grid-area: none;
    grid-template: none;


    .linkContent {
      grid-area: none;
      grid-template: repeat(4, 75vmax) / 1fr;
      grid-row-gap: 10%;
      margin: 5vh;

      .col {
        display: block;
        width: 100%;
        border: solid 2px;
        height: auto;
        padding: 8vh 0em;

        img {
          height: 10vh;
        }

        h2 {
          font-size: 3em;
          margin-bottom: .75em;
        }

        p {
          font-size: 1.5em;
          margin-bottom: 2em;
        }

        .button {
          font-size: 3em;
          margin: 0px;
          border-width: 3px 0px;
          width: max-content;
          justify-self: center;
        }
      }

      /*nav-block in-line grid map*/
      .blk1 {
        grid-area: 1 / 1 / 2 / 2;
      }

      .blk2 {
        grid-area: 2 / 1 / 3 / 2;
      }

      .blk3 {
        grid-area: 3 / 1 / 4 / 2;
      }

      .blk4 {
        grid-area: 4 / 1 / 5 / 2;
      }
    }
  }
}

/**************/
/**************/