/*******MEDIA BEAKS/RESPONSIVE DESIGN*******/
/*******MEDIA BEAKS/RESPONSIVE DESIGN*******/
@import "helpers/variables";
@import "helpers/placeholders";

//Screen width 1100px or more
@media only screen and (min-width: 1100px) {

  html {
    width: $vp-width-LwxSh;
    body {
      width: $vp-width-LwxSh;
      position: center;
      overflow-x: hidden;
    }
  }
  
  main {
    width: $vp-width-LwxSh;
    div{
      &.jumbotron {
        display: table;
        padding: 0;
        padding: 10vh 0;

        #lgScrnBar {
          float: left;
          clear: left;
          width: $vp-width-LwxSh;
          border-width: 2px 0px;
        }
      }
    }
  }
}

//Screen width 991px or less
@media only screen and (max-width: 770px){

  html {
    min-width: 100vw;
    body {
      width: 100vw;
      position: center;
      overflow-x: hidden;
    }
  }

  header {
    &.nav { width: 100vw; }
    ul { grid-template: 1fr/ repeat(5, 1fr); }
    .n1 {grid-column-start: 1;}
  }

  //home jumbotron
  div.jumbo {
    perspective: 0.5px;

    .ani1 {
      width: auto;
      margin: 0 auto;
      text-align:center;
      h1 {
        font-size: 3.25em;
        margin: 1vh auto 8vh;}
      a {
        font-size: 1.2em;
        margin: 0 auto;
        border-width: 2px;
        padding: 0px 3px 0px 5px;
        line-height: .5px;
        text-align: center;
        letter-spacing: .15em;}
    }
  }

  #ani1, #headsh {
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  main {
    //rest jumbotron
    div.jumbotron {
      display: block;
      grid-template: none;
      width: 100vw;
      margin: 0;
    }
  }
  //(SITE Pgs)Nav Block
  section.inPageNav {
    display: grid;
    position: relative;
    height: fit-content;
    width: auto;
    margin: -10vh auto 10vh;
    padding: 5% 0;
    background-color: #566071b3;
    border: 2px solid #fedecb;

    .sectionLinks {
      .col {
        padding: 5% 20%; }
    }
  }
  //(SITE Pgs)Nav Block
  section{
    &#navdrop {
      background-image: url("../../../../Images/sheeth.png");
      width: 100vw;
      min-height: 100vh;
      padding: 8vh 0;
      margin: 0;
    }

    &.pgLinks {
      display: block;
      grid-area: none;
      grid-template: none;
      text-align: center;
      position: relative;

      .linkContent {
        grid-template: repeat(2, 50vh)/repeat(2, 40vw);
        grid-gap: 8vmax;
        padding: unset;
        justify-items: unset;
        align-items: unset;
        grid-area: unset;

        .blk1 { grid-area: 1 / 1 / 2 / 2; }

        .blk2 { grid-area: 1 / 2 / 2 / 3; }

        .blk3 { grid-area: 2 / 1 / 3 / 2; }

        .blk4 { grid-area: 2 / 2 / 3 / 3; }

        .col {
          display: block;
          border: solid 2px;
          height: auto;
          width: auto;
          padding: 4vh 0;
          box-shadow: 0vh 3vw 5vh #71645e;
          background-color: #f5dace52;

          a { 
            font-family: $main-content;
            text-transform: uppercase;
            font-weight: 600;
            color: $med-grey;
            font-size: 2vh;
            letter-spacing: 1.3px;
            text-decoration: none;

            h2 {
              font-size: 2.25em;
              margin-bottom: .75vh;
              margin-top: 1vh; }

            img { 
              height: 10vh;
              margin-top: .75vh;}
          }

          p {
            font-size: 1.25em;
            margin: 2vh auto 4vh;
            line-height: 1.35; }

          .button {
            font-size: 1.5em;
            margin: 0px;
            border-width: 3px 0px;
            width: max-content;
            justify-self: center;
            line-height: 1;
          }
        }
      }
    }
  }

  div.container.linkContent::before {
    content: unset;}
  div.container.linkContent::after {
    content: unset;}
  
  footer {
    width: 100vw;
    .container {
      width: max-content;
    }
  }
}



//Screen width 450px or less
@media only screen and (max-width: 450px) {
  
  html {
    width: $vp-width-SwxLh;
    min-height: $vp-height-SwxLh;

    body {
      width: $vp-width-SwxLh;
      min-height: $vp-height-SwxLh;
      position: center;
      overflow-x: hidden;
      font-size: unset;
    }
  }

  //header
  header {
    &.nav {
      width: $vp-width-SwxLh;
      ul {
        grid-template: 1fr/repeat(5, 1fr);}
      .n1 {
        grid-column-start: 1;}
    }
  }

  //home
  #ani1, #headsh {
    width: $vp-width-SwxLh;
    perspective: unset;
    display: inline-flex;
    transform: none;
    overflow: unset;
    height: unset;
  }

  #ani1 {
    background: url("../../../../Images/ANI1media.png") no-repeat;
    background-size: 100%;
    width: $vp-width-SwxLh;
    // height: 0;
    // padding-top: 159.92%; /* (img-height / img-width * container-width) (854 / 534 * 100) */
    overflow: hidden;
  }

  div.jumbo {
    width: $vp-width-SwxLh;
    margin: 60% auto;
    .ani1 {
      width: auto;
      margin: 0 auto;
      text-align:center;
      h1 {
        font-size: 2.25em;
        margin: 1vh auto 8vh;}
      a {
        font-size: 1.2em;
        margin: 0 auto;
        border-width: 2px;
        padding: 0px 3px 0px 5px;
        line-height: .5px;
        text-align: center;
        letter-spacing: .15em;}
    }
  }

  #btmViewBox {
    width: $vp-width-SwxLh;
    height: 0;
    padding-top: 56%; /* (img-height / img-width * container-width) (1309 / 12092 * 100) */
    background: url(../../../../Images/headsh.png) no-repeat center center;
    background-size: 100%;
    overflow: hidden;
  }

  #headsh {
    width: unset;
    background: unset;
  }

  //jumbotron standard
  main {
    width: $vp-width-SwxLh;
    height: $vp-height-SwxLh;

    div.jumbotron {
      width: $vp-width-SwxLh;
      min-height: $vp-height-SwxLh;
      text-align: center;
      display: table;
      padding: 10vh 0;

      .container {
        height: auto;

        .title {
          margin: 10vh 0vw 0vh; //margin: 25vh auto 35vh;

          .title-text {
            h1 {
              font-size: 3em;
              padding: 0.5vh 2vw;
              margin: 10vh auto;}
          }
          
          .title-button {
            margin: -4vh auto 8vh;

            a.btn-main {
              font-size: 1em;
              border-width: 2px; }
          }
        }
      }
    }
  }

  main div.jumbotron.other .container .title {
    margin: 18vh 0vw 8vh;
    .title-text {
      margin: 0 auto;
      .imgscrollOther {
        background-color: rgba(210, 224, 232, 0.6);
        margin: -22vh 1vw;
        font-size: 1.75vh;
        h3 {font-size: 2.75em;}
        h4 {font-size: 1.25em;}
      }
    }
  }
  a#buttNormal.btn-main.otherbutt {
    display: none; } 
  main div.jumbotron.contact .container .title {
    margin: 14vh 0vw 0vh; }
  div.title-button.contact, div.title-button.other {
    display: none; }

    
  section.inPageNav {
    float: left;
    clear: left;
    width: $vp-width-SwxLh;
    border-width: 2px 0px;
    margin: 0 auto;
    height: min-intrinsic;
    padding: 2vh 0;

    .sectionLinks {
      margin: 1vh 0vw;
      .col {
        padding: 5% 0; }
    }
  }

  //Site nav-block in-line grid map
  section#navdrop {
    background-image: url("../../../../Images/sheeth.png");
    width: $vp-width-SwxLh;
    min-height: $vp-height-SwxLh;
    padding: 8vh 6vh;
    margin: 0 auto;
  }
  section.pgLinks {
    margin: $hrz-center;  
    display: block;
    grid-area: none;
    grid-template: none;
    background-color: $light-grey;
    text-align: center;
    position: relative;
    font-family: $main-content;
    color: $med-grey;

    .linkContent {
      display: grid;
      grid-template: repeat(4, 50vmax)/1fr;
      grid-row-gap: 5vmax;
      grid-area: none;
      margin: 0;
      padding: unset;
      justify-items: unset;
      align-items: unset;

      //nav-block in-line grid map
      .blk1 {
        grid-area: 1 / 1 / 2 / 2;}
      .blk2 {
        grid-area: 2 / 1 / 3 / 2;}
      .blk3 {
        grid-area: 3 / 1 / 4 / 2;}
      .blk4 {
        grid-area: 4 / 1 / 5 / 2;}

      .col {
        display: block;
        border: solid 2px;
        height: auto;
        width: auto;
        padding: 4vh 0;
        box-shadow: 0vh 3vw 5vh #71645e;
        background-color: #f5dace52;
        
        a { 
          font-family: $main-content;
          text-transform: uppercase;
          font-weight: 600;
          color: $med-grey;
          font-size: 2vh;
          letter-spacing: 1.3px;
          text-decoration: none;

          h2 {
            font-size: 3em;
            margin-bottom: .75vh;
            margin-top: unset;
          }

          img {
            height: 10vh;
            margin-top: .75vh;
          }
        }

        p {
          font-size: 2.75vh;
          margin: 2vh auto 4vh;
        }

        .button {
          font-family: $main-content;
          text-transform: uppercase;
          font-weight: 800;
          color: $med-grey;
          border-color: $med-grey;
          font-size: 2vh;
          letter-spacing: 1.3;
          border-style: $btn-box;
          border-width: .5vh;
          text-decoration: none;
        }

        .button:hover {
          color: $lt-dust-pink;
          background-color: $med-grey;
        }
      }
    }
  }

  div.container.linkContent::before {
    content: unset;}
  div.container.linkContent::after {
    content: unset;}

  footer {
    width: $vp-width-SwxLh;
  }
}
/**************/
/**************/