/*******VARIABLES*******/
/*******VARIABLES*******/

/*******responsive viewport units*******/
$vp-width-LwxSh: 100vmax;
$vp-width-SwxLh: 100vmin;
$vp-height-LwxSh: 100vmin;
$vp-height-SwxLh: 100vmax;

/******boxadjustments*******/
$hrz-center: '0 auto';

/******colors*******/
$light-grey: #e3e4e6;
$med-grey: #7d7d82;
$lt-dust-pink: #feece1;
$dust-pink: #fedecb;
$tranBlue-Blks: rgba(100, 136, 160, 0.47);

/******typeface******/
$main-content: 'Raleway', sans-serif;

/******decoration*****/
$btn-box: solid none;