/*******FOOTER*******/
/*******FOOTER*******/
@import "helpers/variables";

footer {
  width: $vp-width-LwxSh;
  text-align: -webkit-right;
  padding: 1em 1.5em;
  background-color: $dust-blue;
  background-image: url("../../../../Images/sheeta.png");
  box-shadow: inset 0 0 0 1000px $tran-blue-footer;

  .container {
    text-align: -webkit-right;
    -webkit-margin-end: 0;
    margin-top: .5em;

    p {
      font-family: $footer-brick-text;
      font-style: oblique;
      font-size: 1em;
      text-align: start;
      font-weight: 700;
      display: inline-block;
      padding: .25em 3em .25em .25em;
      color: $lt-blue-footer-txt;
      background-color: $tran-footer-txtBkg;
      -webkit-margin-end: -20px;
    }
  }
}

/***

//footer: DOM
footer {
  div .container {
    p {}
  }

/**************/
/**************/