/*******GRIDS*******/
/*******GRIDS*******/
/***Site/Pg Nav Block GRIDS***/
section.pgLinks {
  display: grid;
  grid-template: 1fr / 1fr 8fr 1fr;
}

div.linkContent {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

div.blk1 {
  grid-area: 1 / 1 / 2 / 2;
}

div.blk2 {
  grid-area: 1 / 2 / 2 / 3;
}

div.blk3 {
  grid-area: 1 / 3 / 2 / 4;
}

div.blk4 {
  grid-area: 1 / 4 / 2 / 5;
}

/**(W/IN-Pg)Nav Block**/
section.inPageNav {
  justify-items: center;

  div.sectionLinks {
    display: grid;
    grid-template: 1fr/repeat(3, 1fr);
    justify-items: center;

    .col {

    }

    .link1 {
      grid-area: 1 / 1 / 2 / 2;
    }

    .link2 {
      grid-area: 1 / 2 / 2 / 3;
    }

    .link3 {
      grid-area: 1 / 3 / 2 / 4;
    }
  }
}


/**************/
/**************/
