/*******HEADER*******/
/*******HEADER*******/
@import "helpers/variables";

header {
  &.nav {  //checked
    background-color: #8fafc678;
    position: fixed;
    z-index: 5;
    width: $vp-width-LwxSh;
  }
  ul {
    display: grid;
    grid-template: 1fr/1fr repeat(5, 1fr) 1fr;
    -webkit-padding-start: initial;
    justify-items: center;
  }

  nav {

    ul {

      li { 
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        display: inline-flex;
        justify-content: space-around;
        list-style-type: disc;
        padding-left: 1vw;
        padding-right: 1vw;

        &#logo {
          a:hover {
            outline: none;
          }

          img {
            height: 13vh;
            margin-top: 4vh;
            margin-bottom: 2vh;
          }
        }

        &.current {
          font-weight: bolder;

          a {
            border-bottom: solid 2px;
          }
        }
      }
    }
  }

  .n1 {
    grid-column-start: 2;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: #fedecb;
  }

  a:hover, a:focus {
    color: #fedecb;
    text-decoration: none;
  }

  a:active, a:hover {
    outline: #fedecb;
    outline-style: solid;
    outline-width: thin;
    outline-offset: .5em;
  }
}

/*@media only screen and (max-width: 675px) {
  //header
  header {
    &.nav {
      width: $vp-width-SwxLh;
      ul {
        grid-template: 1fr/repeat(5, 1fr);
      }
      .n1 {
        grid-column-start: 2;
      }
    }
  }*/


/***
//header: DOM
header {
  .nav {
    nav {
      ul {
        li { 
          .n1 .n2  .n3 .n4 {}
          .current {}
          #logo {}
          a {
            img {}
          }
        }
      }
    }
  }
}

header .nav
  nav
    ul
      li .n1 .n2  .n3 .n4 .current #logo 
        a 
          img

***/

/**************/
/**************/
