/*******HEADER*******/
/*******HEADER*******/
header.nav {
  background-color: #8fafc678;
  position: fixed;
  z-index: 5;
  width: -webkit-fill-available;  
}

header{

  ul {
    display: grid;
    grid-template: 1fr/ 1fr repeat(5, 1fr) 1fr;
    -webkit-padding-start: initial;
    justify-items:  center;
  }

  nav ul li {
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    display: inline-flex;
    justify-content: space-around;
    list-style-type: disc;
    padding-left: 1em;
    padding-right: 1em; 
  }


  li {
    text-align: -webkit-match-parent;
  }

  .n1 {
    grid-column-start: 2;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: #fedecb;
  }

  a:hover, a:focus {
    color: #fedecb;
    text-decoration: none;
  }

  a:active, a:hover {
    outline: #fedecb;
    outline-style: solid;
    outline-width: thin;
    outline-offset: .5em;
  }

  li.current {
    font-weight: bolder;
  }

  li.current a {
    border-bottom: solid 2px;
  }
}

.logo {

  a:hover {
    outline: none;
  }

  img {
    height: 75px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

}

/**************/
/**************/
