/*******'JUMBOTRON'*******/
/*******'JUMBOTRON'*******/
/**Jumbotron - Content Container**/

main {
  width: 100% auto;
  height: max-content;
  text-align: center;
  position: relative;
  top: 0px;

  .jumbotron {
    background-size: cover;
    max-height: 1000px;
    background-position: right;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 4fr 1fr;
    justify-items: center;
    margin: 0 auto;

    .container {
      grid-area: 2 / 2 / 3 / 3;
      justify-items: center;
      margin: 0 auto;

      .title {
        margin: 0 auto;

        h1 {
          color: #fedcc8;
          font-family: 'Raleway', sans-serif;
          font-weight: 600;
          font-size: 64px;
          margin: 2em 0em 0em;
          padding: 0px 10px;
          text-transform: uppercase;
          border: solid 2px;
          border-color: #fedcc8;
          word-spacing: 0.2em;
        }
      }
    }
  }
}

/**Jumbotron Title & Texts**/

/**************/
/**************/