/*******NAV-BLOCKS*******/
/*******NAV-BLOCKS*******/
/**(W/IN PG)Nav Block**/
/**(W/IN PG)Nav Block**/
/* main { div .jumbotron { */
section.inPageNav /* #lgScrnBar */ {
  display: grid;
  margin: 0 auto 5vh;
  height: fit-content;
  width: 80vw;
  padding: 5vh 0;
  background-color: #566071b3;
  border: 2px solid $dust-pink;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fedecb;
  font-weight: 600;

  .sectionLinks {
    display: grid;
    grid-template: 1fr/repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    .col /* .link1 .link2 .link3 */ {
      padding: 5% 0;

      .link1 { grid-area: 1 / 1 / 2 / 2; }

      .link2 { grid-area: 1 / 2 / 2 / 3; }

      .link3 { grid-area: 1 / 3 / 2 / 4; }

      a /* .icon */ {
        font-family: inherit;
        font-weight: inherit;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        text-decoration: none;

        img {
          height: 3.75em;
          margin-bottom: 2vh; }

        h2 {
          font-family: inherit;
          color: $dust-pink;
          font-weight: inherit;
          font-size: 1.75em;
          text-transform: uppercase;
          margin-bottom: 2vh; }
      }

      p {
        font-family: inherit;
        color: inherit;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.5;
        padding: 0;
        margin-bottom: 3vh; }
    }
  }
}



/**(SITE Pgs)Nav Block**/
/**(SITE Pgs)Nav Block**/
section{
  &#navdrop {
    background-image: url("../../../../Images/sheeta.png");
    background-size: cover;
    padding: 8vh 0vw;
  }

  &.pgLinks {
    grid-template: 1fr / 1fr 8fr 1fr;
    background-color: #e3e4e6;
    text-align: center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: #7d7d82;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 auto;
    padding: 1vh;
    text-align: center;

    .linkContent {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-area: 1 / 2 / 2 / 3;
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;

      .blk1 { grid-area: 1 / 1 / 2 / 2; }

      .blk2 { grid-area: 1 / 2 / 2 / 3; }

      .blk3 { grid-area: 1 / 3 / 2 / 4; }

      .blk4 { grid-area: 1 / 4 / 2 / 5; }

      .col /* .blk1 .blk2 .blk3 .blk4 */ {
         padding: 3em 0em;

        a /* #icon */ {
          font-family: $main-content;
          color: $med-grey;
          font-weight: inherit;
          font-size: 1em;
          text-transform: uppercase;
          letter-spacing: 1.3px;
          text-decoration: none;
          margin-bottom: 1em;

          img {
            height: 4em; }

          h2 {
            font-family: inherit;
            color: inherit;
            font-weight: inherit;
            font-size: 2.25em;
            text-transform: uppercase; }

          &.button {
            border-color: #7d7d82;
            padding: 2px 1px 2px 2px; }

          &.button:hover {
            color: #f8ebe4;;
            background-color: #7d7d82; }
        }

        p {
          font-family: inherit;
          color: inherit;
          font-weight: 400;
          font-size: 1.25em;
          padding: 0 20px;
          margin-bottom: 20px; }
      }
    }
  }
}




/***   

//w/in-pg nav: DOM 
//w/in-pg nav
main {
  div .jumbotron {  //jumbotron content w/in div.container precedes inPageNav
    section .inPageNav #lgScrnBar {
      div .sectionLinks {
        div .col .link1 .link2 .link3 {
          a .icon {
            img {}
            h2 {}
          }
          p {}
          a .button {}
        }
      }
    }
  }        
}

//w/in-pg nav
section #navdrop .pgLinks {
  div .linkContent {
    div .col .blk1 .blk2 .blk3 .blk4 {
      a #icon {
        img {}
        h2 {}
      }
      p {}
      a .button {}
    }
  }
}

/**************/
/**************/