/*******NAV-BLOCKS*******/
/*******NAV-BLOCKS*******/

/**(SITE Pgs)Nav Block**/
section.pgLinks {
  background-color: #e3e4e6;
  text-align: center;
  position: relative
}

div.linkContent {
  position: unset;
  justify-content: baseline;
  justify-items: center;
  align-items: center;
  /*grid rules called from helpers/_grid.scss*/
}

div.blk1, div.blk2, div.blk3, div.blk4 {
  padding: 3em 0em;
  /*grid rules called from helpers/_grid.scss*/
}

.pgLinks img {
  height: 40px;
}

.pgLinks h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
  color: #7d7d82;
}

.pgLinks p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: #7d7d82;
}

.pgLinks a {
  color: #7d7d82;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}

section.pgLinks.pink {
  background-color: #feece1;
  /*grid rules called from helpers/_grid.scss*/
}

/**(W/IN PG)Nav Block**/
/*needs cleaning - all stated on this layout/_.scss page until sorted*/
div.jumbotron section.pgLinks {
  margin: 5em 0em 0em;
  background-color: #8fafc640;
}

h2.subPg, p.subPg {
  font-family: 'Raleway', sans-serif;
  color: #fedecb;
}

/**************/
/**************/