/*******ABOUT PG SPECIFIC STYLING*******/
/*******ABOUT PG SPECIFIC STYLING*******/
main {
  div.jumbotron.about {
    background: url(../../../../Images/KIEV.png);
    display: flex;
    grid-template: none;
    background-size: cover;
    background-position: center;
    max-height: 130vmin;
    width: 100vmax;
    padding: calc(2em + 95px) 0.5em 1.5em;

    .container /* .about */ {
      display: grid;
      grid-template: 1fr / 37% 33%;
      grid-column-gap: 30%;
      justify-items: stretch;
      align-items: stretch;
      width: 100%;
      margin: 1.4em 1.5em;

      .aboutColLeft, .aboutColRight {
        display: grid;
        background-color: #445969b5;
        height: 75vmin;
      }

      h1, p {
        color: #fedcc8;
        text-align: left;
        margin: 1vh 1vw;
        font-size: 3vh;
      }



      .aboutColLeft {
        grid-template-rows: 1fr 4fr;
        grid-area: 1 / 1 / 2 / 2;

        .aboutTitle {
          grid-area: 1 / 1 / 2 / 2;

          h1 {            
            border: none;
            font-size: 61px;
          }
        } 

        .aboutCopy1 {
          grid-area: 2 / 1 / 3 / 2;
          p {}
        }
      }


      .aboutColRight {
        grid-template: 2fr 3fr / 1fr;
        grid-area: 1 / 2 / 2 / 3;

        .aboutBody {
          grid-area: 1 / 1 / 2 / 2;
          p {}
        }

        .aboutCopy2 {
          grid-area: 2 / 1 / 3 / 2;
          p {}
        }
      }


    }
  }
}

/***

//aboutPg: DOM
main {
  div .jumbotron .about {
    div .container .about {

      div .aboutColLeft {
        span .aboutTitle {
          h1 {}
        }     
        span .aboutCopy1 {
          p {}
        }
      }

      div .aboutColRight {
        span .aboutBody {
          p {}
        }

        span .aboutCopy2 {
          p {}
        }
      }
    }
  }
}

/**************/
/**************/
