/*******ABOUT PG SPECIFIC STYLING*******/
/*******ABOUT PG SPECIFIC STYLING*******/
main {
  div.jumbotron.about {
    background: url(../../../../Images/KIEV.png);
    display: flex;
    grid-template: none;
    background-size: cover;
    background-position: center;
    max-height: 130vmin;
    width: 100vmax;
    padding: calc(2em + 95px) 0.5em 1.5em;

    .container /* .about */ {
      display: grid;
      grid-template: 1fr / 37% 33%;
      grid-column-gap: 30%;
      justify-items: stretch;
      align-items: stretch;
      width: 100%;
      margin: 3.5em 1em 1em;

      .aboutColLeft, .aboutColRight {
        display: grid;
        background-color: $tran-about-dkblue-textBkg;
        height: 75vmin;
        overflow: scroll;
        padding: 25px;
      }

      h1, p {
        color: $dust-pink;
        text-align: left;
        margin: 0;
      }
      p {font-size: 1.5em;}

      .aboutColLeft {
        grid-template-rows: 1fr 6fr;
        grid-area: 1 / 1 / 2 / 2;

        .aboutTitle {
          grid-area: 1 / 1 / 2 / 2;

          h1 {
            font-family: Raleway;
            border: none;
            font-size: 4em;
            font-weight: 600;
            text-transform: uppercase;
          }
        } 

        .aboutCopy1 {
          grid-area: 2 / 1 / 3 / 2;
          p {}
        }
      }


      .aboutColRight {
        grid-template: 2fr 3fr / 1fr;
        grid-area: 1 / 2 / 2 / 3;

        .aboutBody {
          grid-area: 1 / 1 / 2 / 2;
          p {}
        }

        .aboutCopy2 {
          grid-area: 2 / 1 / 3 / 2;
          p {}
        }
      }

    }
  }
}

.media-aboutColRight {
  display: none;
}

//Screen width 450px or less
@media only screen and (max-width: 620px) {

  main.about {
    height: 95vmax;
    div.jumbotron.about {
      background: url("../../../../Images/KIEVmedia.png") no-repeat;
      background-size: 100%;
      width: $vp-width-SwxLh;
      height: 95vh;

      .container /* .about */ {
        display: grid;
        grid-template: 1fr / 60% 40%;
        grid-column-gap: unset;
        justify-items: stretch;
        align-items: stretch;
        width: 100%;
        margin: 5em 0 1em;

        .aboutColLeft {
          display: grid;
          background-color: $tran-about-dkblue-textBkg;
          grid-template: 12% 86% / 1fr;
          padding: 1vw;
          grid-area: 1 / 1/ 2 / 2;
          height: 400px;
          overflow: scroll;

          h1, p {
            color: $dust-pink;
            text-align: left;
            margin: 5px;
          }

          p {
            font-size: 1.5em;
            line-height: 1.3;
          }

          .aboutTitle {
            grid-area: 1 / 1 / 2 / 2;

            h1 {            
              border: none;
              font-size: 3.75em;
            }
          } 

          .aboutCopy1 {
            grid-area: 2 / 1 / 3 / 2;
            p {}
          }
        }

        .aboutColRight {
          display: none;
        }
      }
    }
  }

  #media.media-aboutColRight {
    display: inline-grid;
    grid-template: 1fr / 2fr 1fr;
    grid-area: 2 / 1 / 3 / 1;
    background-color: $about-dkblue-textBkg;
    padding: .5em;
    width: 100vw;

    p {
      color: $dust-pink;
      text-align: left;
      font-size: 1.5em;
      font-weight: 300;
      margin: .5em 1.5em;
    }

    .aboutBody {
      grid-area: 1 / 1 / 2 / 2;
      p {}
    }

    .aboutCopy2 {
      grid-area: 1 / 2 / 1 / 3;
      p {}
      a {
        display: flex;
        margin: 1.5em 1.5em 1.5em 1em;}
    }
  }

  div.jumbotron.about div.container::before {
    content: unset;}
  div.jumbotron.about div.container::after {
    content: unset;}
}


/***

//aboutPg: DOM
main {
  div .jumbotron .about {
    div .container .about {

      div .aboutColLeft {
        span .aboutTitle {
          h1 {}
        }     
        span .aboutCopy1 {
          p {}
        }
      }

      div .aboutColRight {
        span .aboutBody {
          p {}
        }

        span .aboutCopy2 {
          p {}
        }
      }
    }
  }
}

/**************/
/**************/
