/*******CONTACT PG SPECIFIC STYLING*******/
/*******CONTACT PG SPECIFIC STYLING*******/
/**CONTACTpg: Jumbotron - Content/Container**/
.jumbotron.contact {
  background-image: url("../../../../Images/atelier.png");

  .container {
  	
  	.title {

  	  h1 {
  	  	margin: 1.5em 0em .3em;
  	  }
  	}

  	.btn-main {
  	  margin: 0 auto;
  	}
  }
}

/**************/
/**************/