/*******OTHER PG SPECIFIC STYLING*******/
/*******OTHER PG SPECIFIC STYLING*******/

/**OTHERpg: Jumbotron - Content/Container**/
.jumbotron.other {
  background-image: url("../../../../Images/ludlow.png");

  .container {

    .title {
      margin-top: 6em;

      .imgscrollOther {
        color: #3e445b;
        margin: 0 auto;
        /*margin: 3em;*/
        border: none;

        h3 {
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 2em;
          text-transform: uppercase;
          word-spacing: 0.2em;
          text-align: center;
          border: none;
          margin: 0em;
        }

        h4 {
          font-family: 'Nanum Myeongjo', serif;
          font-weight: 400;
          font-size: 1em;
          font-style: italic; 
          word-spacing: 0.05em;
          margin: 0 auto;
        }
      }
    }

    /**OTHERpg: (W/IN-Pg)Nav block**/
    section.inPageNav {
      margin: 8%;
      padding: 7% 2%;
      border: solid 2px;
      border-color: #feece1;
    }
  }
}

/**OTHERpg: (W/IN-Pg)Nav block*
.inPageNav.other {
  border: solid 2px;
  border-color: #feece1;
  background-color: #3d30438a;
}*/

/**************/
/**************/