/*******OTHER PG SPECIFIC STYLING*******/
/*******OTHER PG SPECIFIC STYLING*******/
main {
  .jumbotron.other {
    background-image: url("../../../../Images/ludlow.png");

    .container {
      padding-top: calc(2em + 95px);

      .title {
        margin: 25vh auto 25vh;

        .title-text {
          margin: 0 2vw;

          .imgscrollOther {
            color: #292d3d;            
            border: none;
            /* margin: 0 auto; */

            h3 {
              font-family: 'Raleway', sans-serif;
              font-weight: 700;
              font-size: 2.75em;
              text-transform: uppercase;
              word-spacing: 0.2em;
              text-align: center;
              border: none;
              margin: 0em;
            }

            h4 {
              font-family: 'Nanum Myeongjo', serif;
              font-weight: 400;
              font-size: 1.5em;
              font-style: italic; 
              word-spacing: 0.05em;
              margin: 0 auto;
            }
          }

          .title-button {
            display: none;
          }
        }
      }
    }
  }
}

//OTHERpg: (W/IN-Pg)Nav block
    /** 
    section.inPageNav {
      padding: 7% 2%;
      border: solid 2px;
      border-color: #feece1;
    }
    **/


/***
//otherPg specific: DOM

//otherPg: jumbotron & title
main {
  div .jumbotron .other {
    div .container {
      div .title {

        div .title-text {
          div .imgscrollOther #imgscrollOther {
            h3 #textscrollOther {}
            h4 {}
          }
        }

        div .title-button {
          a #buttNormal .btn-main .resbutt {}
        }
      }
    }
  }
}

//otherPg: w/in-pg nav (nested in div.jumbotron)
main {
  div .jumbotron .other {  //jumbotron content w/in div.container precedes inPageNav
    section .inPageNav .other #lgScrnBar {
      div .sectionLinks {
        div .col .link1 .link2 .link3 {
          a .icon {
            img {}
            h2 {}
          }
          p {}
          a .button {}
        }
      }
    }
  }
}

/**************/
/**************/