/*******HOME PG --PARALLAX/SPECIFIC-- STYLING*******/
/*******HOME PG --PARALLAX/SPECIFIC-- STYLING*******/
@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size(cover);
}

$parallax-height: 100vh;
$center-margin: 0px auto;

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}



#ani1 {
  @include parallax-background("../../../../Images/ANI1.png");

  div.jumbo {
    display: grid;
    perspective: 1.5px;
    justify-items: center;
    align-items: center;
  }
}

#headsh {
  @include parallax-background("../../../../Images/headsh.png");
}

#ani1, #headsh {
  width: 100vmax;
  height: 100vmin;
  perspective: 2px;
  display: grid;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;
}

.ani1 {

	h1 {
    background: linear-gradient(270deg, #fffcfa 25%,#fedecb 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*color: #fedcc8;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 5em;
    margin: 0.5em 0em 1.5em;
    padding: .1em;
    text-transform: uppercase;
    border: solid 2px;
    border-color: #fedcc8;
    word-spacing: 0.2em;
    text-align: center;
    transform: translateZ(-.1px);
    letter-spacing: 0.06em;
    text-align: center;
  }

  .btn-main .indexbutt {
    color: #fedcc8;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.3px;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-style: solid none;
    border-width: 4px;
    border-color: #fedcc8;
    grid-area: 3 / 2 / 4 / 3;
    align-items: center;
    display: grid;
  }
}






/*base - moble styling <600px
.banner-container {
  position: relative;
  width: inherit;
}

#banner {
  position: fixed;
  width: inherit;
  z-index: -1;
  top: 0;
  box-sizing: border-box;
}

.parallax-img-file {
  width: inherit;
  display: block;
  vertical-align: middle;
}*/




/**************/
/**************/
