/*******PORTFOLIO PG SPECIFIC STYLING*******/
/*******PORTFOLIO PG SPECIFIC STYLING*******/

/**PORTFOLIOpg: Jumbotron - Content/Container**/
div.jumbotron.portfolio {
  background-image: url("../../../../Images/KIEV2.png");

  .container {
  	
  	.title {

  	  h1 {
        margin: 12% 0px 6%;
  	  }
  	}

  	.btn-main {
  	  margin: 0 auto;
    }

    /**OTHERpg: (W/IN-Pg)Nav block**/
    section.inPageNav {
      margin: 8% 10% 10%;
    }
  }
}



/**************/
/**************/