/*******PORTFOLIO PG SPECIFIC STYLING*******/
/*******PORTFOLIO PG SPECIFIC STYLING*******/

/**PORTFOLIOpg: Jumbotron - Content/Container**/
div.jumbotron.portfolio {
  background-image: url("../../../../Images/KIEV2.png");
  background-size: cover;
  max-height: 800px;
}

div.portContainer h1 {
  margin: 1em 0px 1em;
}

/**************/
/**************/